<!doctype html>
<html>
  <head>
    <%= partial "shared/html-head" %>
  </head>

  <body class="page-<%= page_classes %>">
    <%= partial "shared/navbar" %>
    <div class="page-container">
      <div class="row">
        <div class="col-xs-3 page-sidebar hidden-sm hidden-xs">
          <%= partial "qa/summary" %>
        </div>
        <div class="col-lg-9 page-body">
          <div class="body-box">
            <%= yield %>
            <%= partial "shared/duoshuo" %>
            <div class="return"></div>
          </div>
          <div class="footer-in">
            <%= partial "shared/footer-in" %>
          </div>
        </div>
      </div>
    </div>


    <script type="text/javascript">
        $(function() {
          (function () {
            $('.panel-default').mouseenter(function () {
              if(!$(this).hasClass('active')){
                $(this).children().addClass('in');
              }
            });
            $('.panel-default').mouseleave(function () {
              if(!$(this).hasClass('active')) {
                $(this).children().removeClass('in');
              }
            });
            var key=window.location.pathname;
            var keyInfo="'"+key+"'";
            var panelHead;
            if(keyInfo.indexOf('index') !== -1){
              panelHead= $(".panel-default  a[href="+keyInfo+"]").parent().parent();
              panelHead.siblings().addClass('in');
              panelHead.parent().siblings('div').map(function () {
                $(this).removeClass('active');
              });
              panelHead.parent().addClass('active');
            }else if(keyInfo.indexOf('.') <0) {
              keyInfo="'"+key+"java_index.html"+"'";
              panelHead= $(".panel-default  a[href="+keyInfo+"]").parent().parent();
              panelHead.siblings().addClass('in');
              panelHead.parent().siblings('div').map(function () {
                $(this).removeClass('active');
              });
              panelHead.parent().addClass('active');
            }else {
                panelHead= $(".panel-default  a[href="+keyInfo+"]").parent().parent().parent().parent();
                panelHead.addClass('in');
                panelHead.parent().siblings('div').map(function () {
                  $(this).removeClass('active');
                });
                panelHead.parent().addClass('active');
              }
          })();
        });
    </script>
  </body>
</html>
