<meta name="keywords" content="<%= current_page.data.keywords || "端到端应用性能管理,Application Insight,OneAPM Ai" %>">
<meta name="description" content="<%= current_page.data.description || "OneAPM Application Insight是一个真实可见的应用性能监控系统，从用户体验到网络服务，直至应用代码, 帮助您完成端到端的应用性能管理，OneAPM Ai通过 Apdex、报警、错误率让您了解应用性能对用户使用体验的影响，从而挖掘应用可优化的范围" %>">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta charset="utf-8">
<meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" href="/favicon.ico" type="image/x-icon">
<!-- Use title if it's in the page YAML frontmatter -->
<title><%= current_page.data.title || "Application Insight 文档" %></title>

<%= partial "shared/redirect" %>
<%= partial "shared/baidu" %>
<%= partial "shared/growingio" %>

<%= stylesheet_link_tag :site %>
<%= javascript_include_tag :'jquery-2.2.1' %>
<%= javascript_include_tag :'bootstrap.min' %>
<%= javascript_include_tag :all %>
<style media="screen">
  <%= Rouge::Themes::ThankfulEyes.render(:scope => '.highlight') %>
</style>
